{% extends "manager_app/base.html" %}

{% block content %}

<h1>{{project.title}}</h1>
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var dates = {{ dates|safe }};// 30/12/2022,31/12/2022
  var count_status = {{ count_foreach_status|safe }}; // 5,4,3,2,2,2,1,1
  //var status = {{ tabstatus|safe }}; //
  var status = ['no status', 'to do', 'in progress', 'done']


  /*var datasets = [];
  for (var i = 0; i < status.length; i++) {
    var data = count_status.slice(i*dates.length, (i+1)*dates.length);

    var dataset = {
      label: status[i],
      data: data,
      borderWidth: 1,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)'
    };
    datasets.push(dataset);
  }*/
      console.log("status" + status)

  var datasets = [];
  for (var i = 0; i < status.length; i++) {
    console.log("status =>"+status[i]); // Affiche chaque élément de status
    var dataset = {
      label: 'statu',
      data: 5,
      borderWidth: 1,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)'
    };
    datasets.push(dataset);
  }





  // Récupérer l'élément canvas et créer le graphique
  var ctx = document.getElementById('myChart');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: dates,
      datasets: datasets
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock content %}
