{% extends "manager_app/base.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="{% static 'manager_app/styleDragDrop.css' %}">
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
      <!-- sera peut etre supprimer par la suite (les utilisateur ne verront que leurs project) -->
      {% if object.author == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project-update' object.id %}">Update </a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'project-delete' object.id %}">Delete </a>
      </div>

      {% endif %}
    </div >
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
  </div>
</article>
<article class="media content-section">
  <div>
    <!-- 2 fois la meme chose pour avoir le manager du projet en haut -->
    {% for collaborator, color in collaborator_colors.items %}
      {% if collaborator == object.author.username %}
        <h1><a class="btn btn-secondary btn-sm mt-1 mb-1" style="background-color: {{color}}"> {{ object.author }} : Project manager</a></h1>
      {% endif %}
    {% endfor %}

    {% for collaborator, color in collaborator_colors.items %}
      {% if collaborator != object.author.username %}
        <h1><a class="btn btn-secondary btn-sm mt-1 mb-1" style="background-color: {{color}}"> {{ collaborator }} : Collaborator</a></h1>
      {% endif %}
    {% endfor %}
  </div>

</article>


  <div class="modal" id="todo_form">
      <div class="header">
        <div class="title">Add Todo</div>
        <button class="btn close-modal">&times;</button>
      </div>
      <div class="body">
        <input type="text" id="todo_input" />
        <input type="submit" value="Add Todo" id="todo_submit" />
      </div>
  </div>
     <!-- todo -->
  {% if object.author == user %}
<div>
  <a href="{% url 'add_task' project.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Add Task</a>
  <a href="{% url 'graphic-visualization' project.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">graphic visualization</a>
</div>

  {% endif %}

  <div id="success-message"></div>
  <div class="todo-container">
    {% for status in tabStatus %}
    <div class="status">
      <div>
          <h1>{{ status }}</h1>
      </div>
      {% for task in tasks %}
        {% if task.project.id == project.id %}
          {% if task.status_task == status %}
            {% for collaborator, color in collaborator_colors.items %}
              {% if collaborator == task.assign_to %}
                <div project_id = "{{ project.id }}" task_id = "{{ task.id }}" class="todo" draggable="true" style="background-color: {{color}}" >
                  {{ task.title_task }}
                  {% if object.author == user %}
                    <span task_id = "{{ task.id }}" class="close">&times;</span>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    {% endfor %}
  </div>
  <div id="overlay"></div>

  <!--<script src="/static/js/scriptDragDrop.js"></script>-->
<script>
const todos = document.querySelectorAll(".todo");
const all_status = document.querySelectorAll(".status");
let draggableTodo = null;

todos.forEach((todo) => {
  todo.addEventListener("dragstart", dragStart);
  todo.addEventListener("dragend", dragEnd);
});

function dragStart() {
  draggableTodo = this;
  setTimeout(() => {
    this.style.display = "none";
  }, 0);
  console.log("dragStart");
}

function dragEnd() {
  draggableTodo = null;
  setTimeout(() => {
    this.style.display = "block";
  }, 0);
  console.log("dragEnd");
}

all_status.forEach((status) => {
  status.addEventListener("dragover", dragOver);
  status.addEventListener("dragenter", dragEnter);
  status.addEventListener("dragleave", dragLeave);
  status.addEventListener("drop", dragDrop);
});

function dragOver(e) {
  e.preventDefault();
  //   console.log("dragOver");
}

function dragEnter() {
  this.style.border = "1px dashed #ccc";
  console.log("dragEnter");
}

function dragLeave() {
  this.style.border = "none";
  console.log("dragLeave");
}

function dragDrop() {
  this.style.border = "none";
  this.appendChild(draggableTodo);
  console.log("dropped");

  // recuperer dans quel projet on est
    const project_id = draggableTodo.getAttribute('project_id');
  // Récupérez le titre de la tâche ici
  const task_id = draggableTodo.getAttribute('task_id');
  // Récupérez le titre de la colonne ici
  const newStatus = this.textContent;

  // passer l'id de la tache et status a python
  fetch('/task/'+ project_id +'/'+ task_id +'/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      'task_id': task_id,
      'new_status': newStatus
    })
  })
  .then((response) => response.json())
  .then((data) => {
    console.log(data);
    alert(data)
  });

  // message succes
  showSuccessMessage('status changed successfully !', 'green');


}

function showSuccessMessage(message, color) {
  // Afficher le message de succès
  let successMessage = document.getElementById('success-message');
  successMessage.textContent = message;
  successMessage.style.backgroundColor = color;
  successMessage.style.color = 'white';

  // Masquer le message de succès au bout de 3 secondes
  setTimeout(function() {
    document.getElementById('success-message').innerHTML = '';
  }, 2000);
}

/* modal */
const btns = document.querySelectorAll("[data-target-modal]");
const close_modals = document.querySelectorAll(".close-modal");
const overlay = document.getElementById("overlay");

btns.forEach((btn) => {
  btn.addEventListener("click", () => {
    document.querySelector(btn.dataset.targetModal).classList.add("active");
    overlay.classList.add("active");
  });
});

close_modals.forEach((btn) => {
  btn.addEventListener("click", () => {
    const modal = btn.closest(".modal");
    modal.classList.remove("active");
    overlay.classList.remove("active");
  });
});

window.onclick = (event) => {
  if (event.target == overlay) {
    const modals = document.querySelectorAll(".modal");
    modals.forEach((modal) => modal.classList.remove("active"));
    overlay.classList.remove("active");
  }
};


const close_btns = document.querySelectorAll(".close");

close_btns.forEach((btn) => {
  btn.addEventListener("click", () => {
    btn.parentElement.style.display = "none";
    // suprrimer la tache de la db
    // Récupérez le titre de la tâche
    const task_id = btn.getAttribute('task_id')
    fetch('/task/'+ task_id +'/delete_task/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({

      })
    })
    .then((response) => response.json())
    .then((data) => {
      console.log(data);
      alert(data)
    });
    // message succes
    showSuccessMessage('task successfully removed !', 'red');
  });
});
</script>


{% endblock content %}